.body-exteriores {
    display: grid;
    grid-template-rows: 0.30fr 8fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    .main-foto-exteriores {
        grid-area: main;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 3%;
        .main__titulo-exteriores{
            width: 50%;
            min-width: max-content;
            text-align: center;
            color: $colortextos;
            margin-bottom: 5%;
            border-bottom-color: $colorprincipal;
            border-bottom-style: solid;
            border-radius: 5px;
            @include tablet{
                font-size: 3rem;
            }
            @include mobile{
                font-size: 2rem;
            }
        }
        .main__imagen1-ext {
            display: block;
            width: 90%;
            height: auto;
            margin-bottom: 3%;
            box-shadow: $boxshadow
        }
        .main__imagen2-ext {
            display: block;
            width: 90%;
            height: auto;
            margin-bottom: 3%;
            box-shadow: $boxshadow
        }
        .main__imagen3-ext {
            width: 40%;
            height: auto;
            margin-bottom: 3%;
            box-shadow: $boxshadow
        }
        .main__imagen4-ext {
            width: 40%;
            height: auto;
            margin-bottom: 3%;
            box-shadow: $boxshadow
        }
        .main__imagen5-ext{
            display: block;
            width: 90%;
            height: auto;
            margin-bottom: 3%;
            box-shadow: $boxshadow
        }
        .main__imagen6-ext {
            display: inline-block;
            width: 50%;
            height: auto;
            box-shadow: $boxshadow
        }
    }
}